entrypoints==0.4
Flask==2.0.3
h5py==3.6.0
importlib-metadata==4.11.1
ipykernel==6.8.0
ipython==8.0.1
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.1.0
keras==2.8.0
matplotlib==3.5.1
numpy==1.22.3
pandas==1.4.0
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.24.0